@import "overrides.scss";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  font-weight: bold;
}

.light-gray {
  background-color: #202b30;
}

$header-height: 56px;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: $header-height 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - $header-height);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

main {
  padding-top: $header-height + 10px;
}

.unstyled-link {
  color: $body-color;
  text-decoration: none;

  &:hover, &:active, &:visited {
    color: $body-color;
    text-decoration: none;
  }
}