@import "overrides.scss";
@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

.light-gray {
  background-color: #212529;
}

$header-height: 72px;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: $header-height 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  &-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - $header-height);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

main {
  padding-top: $header-height;
}